body{
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-image: linear-gradient(to bottom,#061b84,#347af2);
}

.container{
    background-color: #fff;
    width: 560px;
    height: 350px;
    border-radius: 50px;
    padding: 50px;
    box-shadow: 0 0 50px rgba(6, 6, 6, 0.344);
}

.titulo{
    text-align: center;
    font-size: 2.2rem;

}

main {
    
}